*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.header{
	background: #006265;
}
.container-fluid{
	background: #006265;
	padding: 3px 0 3px 0;
}
.navbar-brand{
	font-weight: bold;
}
.offcanvas-body{
	background: #00888c;
}
.nav-link{
	font-size: 17px;
	font-weight: bold;
}
.fa-bars{
	font-size: 30px !important;
	color: #fff !important;
}
.navbar-toggler{
	border: 0 !important;
	outline: none !important;
	font-weight: bold !important;
	padding: initial;
}
.active-home{
	color: #fff !important;
}
.nav-link:hover{
	color: #fff !important;
}
.banner{
	margin-top: 8%;
	color: #fff;
}
.banner h1{
	margin: 100px 0 35px;
	font-weight: 600;
	font-size: 35px;
}
.banner img{
	max-height: 550px;
	margin-top: 100px;
}
.banner a{
	padding: 10px 50px 10px 50px;
	width: 150px;
	display: inline-block;
	background: #006265;
	text-decoration: none !important;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
	text-align: center;
	margin-top: 30px;
	font-size: 15px;
	font-weight: bold;
}
.banner a:hover{
	color: #fff;
}
.express-btn{
	background: #fff !important;
	color: #000000 !important;
	margin-right: 5px;
}

/*-------------FEATURES-----------------*/

.features{
	margin: 60px 0;
}
.title{
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}
.subtitle{
	text-align: center;
	margin-bottom: 30px;
	font-size: 15px;
}
.features-box{
	padding: 0 10px;
	cursor: pointer;
	margin-bottom: 10px;

}
.features-box img{
	max-height: 100px;
	margin-top: 20px;
	margin-bottom: 15px;
	text-align: center;
}

.features-box h6{
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}
.features-box h6:hover{
	color: #fff !important;
}
.fa-arrow-right{
	font-size: 20px !important;
	margin-top: 30px;
	margin-bottom: 20px;
	cursor: pointer;
}
.features-box:hover{
	background: #009398;
	border-radius: 5px;
	color: #fff !important;
	box-shadow: 0 15px 15px 2px rgba(213, 213, 213, 0.5);
}
.features-box p{
	font-size: 13px;
}
.features-box p:hover{
	color: #fff;
}
.logo-details{
	height: 40px;
  	width: auto;
  	margin: 0 !important;
}
.logo_name{
	height: 35px;
	width: auto;
	margin-left: 5px;
}