@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');
* {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*Styling Top Section*/
.top{
    text-align: center;
    width: 100%;
    font-family: 'Montez', cursive;
    font-size: larger;
}
.logo{
    width: auto;
    height: 50px;
    align-self: center;
}

/*Styling Container Section*/
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
.card{
    box-shadow: 20px 10px 10px darkgray;
    font-size: x-small;
    text-align: center;
}
img{
    width:auto;
    height: 200px;
    align-self: center;
}
p{
    margin: 0;
    padding: 0;
}
    
/*Breakpoint media queries agar responsive */
    /* For desktop: sudah didefine di atas*/
    /* For tablet: */
    @media only screen and (max-width: 768px) {
        .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        }}

    /* For mobile phones: */
    @media only screen and (max-width: 500px) {
        .container{
        grid-template-columns: 1fr 1fr;
        }}