@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');
*{
    list-style: none;
    padding: 0;
    margin: 0;
}

/*Styling topsection*/
.header{
    text-align: center;
    font-family: 'Montez', cursive;
    font-size: large;
    background-color: white;
    margin-top: 20px;
}
h2{
    color: #546e7a;
}
.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
.tablink {
  outline: none;
  border: none;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: smaller;
  border-radius: 5px;
  background-color: #cfd8dc;
  color: #263238;
}
.tablink:hover {
  background-color: #b0bec5;
}
button{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/*Styling content section*/
.cont-spec-home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
.cont-spec-book{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
.cont-spec-aud{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
.cont-spec-vid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
.card{
    box-shadow: 15px 10px 10px gray;
    font-size: x-small;
    text-align: center;
}
.description{
    padding-top: 5px;
    padding-bottom: 7px;
}
img{
    width:auto;
    height: 180px;
    align-self: center;
    padding-top: 12px;
}
.img-spec-vid{
    width:auto;
    height: 150px;
    align-self: center;
    padding-top: 12px;
}
.cost{
    color: #0093af;
    font-weight: bold;
}
    
/*Breakpoint media queries pada container (untuk book dan audio) agar responsive */
    /* For desktop: sudah didefine di atas, tapi mau ditambah pertengahan*/
    @media only screen and (max-width: 1030px) {
        .cont-spec-book{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
        .cont-spec-aud{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
        .cont-spec-vid{
        grid-template-columns: 1fr 1fr 1fr;
        }}
    @media only screen and (max-width: 950px) {
        .cont-spec-book{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .cont-spec-aud{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .cont-spec-vid{
            grid-template-columns: 1fr 1fr 1fr;
        }}
    /* For tablet: */
    @media only screen and (max-width: 850px) {
        .cont-spec-book{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .cont-spec-aud{
            grid-template-columns: 1fr 1fr 1fr;
        }
        .cont-spec-vid{
            grid-template-columns: 1fr 1fr;
        }}
    @media only screen and (max-width: 750px) {
        .cont-spec-book{
        grid-template-columns: 1fr 1fr 1fr;
        }
        .cont-spec-aud{
            grid-template-columns: 1fr 1fr 1fr;
        }
        .cont-spec-vid{
        grid-template-columns: 1fr 1fr;
        }}
    /* For mobile phones: */
    @media only screen and (max-width: 500px) {
        .cont-spec-home{
            grid-template-columns: 1fr;
        }
        .cont-spec-book{
        grid-template-columns: 1fr 1fr;
        }
        .cont-spec-aud{
            grid-template-columns: 1fr 1fr;
        }
        .cont-spec-vid{
        grid-template-columns: 1fr;
        }}

